<p>You're logged in with Angular 8!!</p>
<h3>All login audit :</h3>

<Table id="dtBasicExample" class="table table-striped" style="margin-left: -360px">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" (pageChange)="refreshAudits()">
    </ngb-pagination>

    <div class="d-flex justify-content-between p-2">
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshAudits()">
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="40">40 items per page</option>
      <option [ngValue]="60">60 items per page</option>
    </select>
        <select class="custom-select" style="width: auto" [(ngModel)]="formatDate" (ngModelChange)="onHourChange($event)">
      <option [ngValue]="12">12 Time Format</option>
      <option [ngValue]="24">24 Time Format</option>
    </select>
    </div>
    <tr>
        <th>User</th>
        <th>Audit Id</th>

        <a style="background-color: red">
            <div class="hover-item">
                <th scope="col" sortable="loginTime" (sort)="onSort($event)" style="color: blue">
                    Login Time(Sort)
                </th>
            </div>
        </a>

        <th>LogoutTime</th>
        <th>Audit IP</th>
        <th>
            <input (keyup)="applyFilter($event)" placeholder="Aduit Id" />
        </th>
    </tr>
    <tr *ngFor="let audit of auditsNation">
        <td>{{ audit.user }}</td>
        <td>{{ audit._id }}</td>
        <td>
            <label *ngIf="hour12">
        {{ audit.loginTime | date: "dd/MM/yyyy hh:mm:ss a" }}
      </label>
            <label *ngIf="hour24">
        {{ audit.loginTime | date: "dd/MM/yyyy HH:MM:ss a" }}
      </label>
        </td>

        <td>
            <label *ngIf="hour12">
        {{ audit.logoutTime | date: "dd/MM/yyyy hh:mm:ss a" }}
      </label>
            <label *ngIf="hour24">
        {{ audit.logoutTime | date: "dd/MM/yyyy HH:MM:ss a" }}
      </label>
        </td>

        <td>{{ audit.ip }}</td>
    </tr>
</Table>